<style>
	form { color: white; font-size:10pt; }
</style>

<!-- Games section -->
<section class="games-single-page">
	<div class="container">
		<!-- Games section -->
		<section class="games-single-page">
			<div class="container">
				<!-- Games section -->
				<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
						<h4>Login</h4>
						<form>
						<div class="form-group">
					    <label for="username">Username</label>
					    <input type="name" [(ngModel)]="username" class="form-control">
						</div>
						<div class="form-group">
						    <label for="email">Email</label>
						    <input type="email" [(ngModel)]="email" class="form-control">
						</div>
					    <button (click)=checkLogin() class="btn btn-primary">Login</button> <a href="/resetEmail"> Reset Password</a>
					    <p> {{emailMsg}} </p>
	  					</form>
					</div>
				</div>
			</div>
		</section>
		<!-- Games end-->		
	</div>
</section>
