<style>
	table thead th { color: white; font-size:10pt; }
	table tbody th { color: white; font-size:10pt; }
	table tbody td { color: white; font-size:10pt; }
</style>

<!-- Games section -->
<section class="games-single-page">
	<div class="container">
		<!-- Games section -->
		<section class="games-single-page">
			<div class="container">
				<!-- Games section -->
				<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
						<h4>Poll History</h4>
						<p>View poll history here!</p>
						<div class="row justify-content-center">
    						<div class="col-auto">
      							<table class="table table-responsive">
									  <thead>
									    <tr>
									      <th scope="col">Poll title</th>
									      <th scope="col">Date created</th>
									      <th scope="col">Date closed</th>
									      <th scope="col">Poll created by</th>
									      <th scope="col">Poll result</th>
									      <th scope="col">Number of votes</th>
									      <th scope="col">View</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Who will win the world championship?</td>
									      <td>11/10/2019</td>
									      <td>13/10/2019</td>
									      <td>Admin</td>
									      <td>Imperial Pro Gaming</td>
									      <td>23</td>
									      <td><button>View poll info</button></td>
									    </tr>
									    <tr>
									      <td>Favourite team</td>
									      <td>1/10/2019</td>
									      <td>5/10/2019</td>
									      <td>Admin</td>
									      <td>Cignal Ultra</td>
									      <td>41</td>
									      <td><button>View poll info</button></td>
									    </tr>
									    <tr>
									      <td>Which team is better?</td>
									      <td>20/9/2019</td>
									      <td>25/9/2019</td>
									      <td>Admin</td>
									      <td>Team Amplfy</td>
									      <td>15</td>
									      <td><button>View poll info</button></td>
									    </tr>
									     <tr>
									      <td>Which team shall be victorious?</td>
									      <td>14/9/2019</td>
									      <td>17/9/2019</td>
									      <td>Admin</td>
									      <td>Prodota Gaming</td>
									      <td>20</td>
									      <td><button>View poll info</button></td>
									    </tr>
									  </tbody>	
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Games end-->		
	</div>
</section>