<style>
	form { color: white; font-size:10pt; }
</style>

<!-- Games section -->
<section class="games-single-page">
	<div class="container">
		<!-- Games section -->
		<section class="games-single-page">
			<div class="container">
				<!-- Games section -->
				<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
						<h4>User profile</h4>
						<form>
						<div class="form-group">
						    <label for="username">Username</label>
						    <h2>{{user.username}}</h2>
						</div>
						<div class="form-group">
						    <label for="text">Email</label>
						     <h2>{{user.email}}</h2>
						</div>
						<div class="form-group">
						    <label for="mobile">Mobile number</label>
						    <h2>{{user.mobile_number}}</h2>
						</div>
						</form>
						<div *ngFor="let item of userInventory">
						    <img src={{item.image}} height="100" width="150">
				    	</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Games end-->		
	</div>
</section>
