<style>
	table thead th { color: white; font-size:10pt; }
	table tbody th { color: white; font-size:10pt; }
	table tbody td { color: white; font-size:10pt; }
</style>

<!-- Games section -->
<section class="games-single-page">
	<div class="container">
		<!-- Games section -->
		<section class="games-single-page">
			<div class="container">
				<!-- Games section -->
				<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
						<h4>Dota 2 Tournament Information</h4>
						<div class="row justify-content-center">
							<div class="table-responsive">
								<mat-form-field>
									<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
								</mat-form-field>
								<table mat-table [dataSource]="dataSource" class="table" matSort>
									<ng-container matColumnDef="tournament_name">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
										<td mat-cell *matCellDef="let tournament">{{tournament.tournament_name}}</td>
									</ng-container>

									<ng-container matColumnDef="league_id">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
										<td mat-cell *matCellDef="let tournament">{{tournament.league_id}}</td>
									</ng-container>

									<ng-container matColumnDef="series_id">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Series</th>
										<td mat-cell *matCellDef="let tournament">{{tournament.series_id}}</td>
									</ng-container>

									<ng-container matColumnDef="begin_at">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Date started</th>>
										<td mat-cell *matCellDef="let tournament">{{tournament.begin_at}}</td>
									</ng-container>

									<ng-container matColumnDef="end_at">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Date end</th>
										<td mat-cell *matCellDef="let tournament">{{tournament.end_at}}</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
									<tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
								</table>
								<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
							</div>
    						<div class="col-auto">
    							<!-- <ng2-smart-table [settings]="settings" [source]="tournament">
								</ng2-smart-table> -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Games end-->		
	</div>
</section>