<style>
	table thead th { color: white; font-size:10pt; }
	table tbody th { color: white; font-size:10pt; }
	table tbody td { color: white; font-size:10pt; }
</style>

<!-- Games section -->
<section class="games-single-page">
	<div class="container">
		<!-- Games section -->
		<section class="games-single-page">
			<div class="container">
				<!-- Games section -->
				<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
						<h4>Dota 2 Player Information</h4>
						<div class="row justify-content-center">
    						<div class="col-auto">
      							<table class="table table-responsive">
									  <thead>
									    <tr>
									      	<th scope="col">No.</th>
									      	<th scope="col">Player name</th>
									      	<th scope="col">Image</th>
										    <th scope="col">First name</th>
										    <th scope="col">Last name</th>
										    <th scope="col">Team</th>
										    <th scope="col">Hometown</th>
									    </tr>
									  </thead>
									  <tbody *ngFor="let item of player; let i = index">
									    <tr>
										    <th>{{i+1}}</th>
										    <td>{{item.name}}</td>
										    <td><img src={{item.image_url}} height="100" width="150"></td>
										    <td>{{item.first_name}}</td>
										    <td>{{item.last_name}}</td>
										    <td>{{item.team_name}}</td>
										    <td>{{item.hometown}}</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Games end-->		
	</div>
</section>
